.position-button {
    background: none;
    border: 1px solid rgb(150,115,48);
    padding: 0;
    margin: 0;
}

/*top*/
.position-button.top {
    background-image: url('/image/position/top.png');
}

.position-button.top:hover {
    background-image: url('/image/position/top-hover.png');
}

.position-button.top:disabled {
    background-image: url('/image/position/top-disabled.png');
}

/*jungle*/
.position-button.jungle {
    background-image: url('/image/position/jungle.png');
}

.position-button.jungle:hover {
    background-image: url('/image/position/jungle-hover.png');
}

.position-button.jungle:disabled {
    background-image: url('/image/position/jungle-disabled.png');
}

/*middle*/
.position-button.middle {
    background-image: url('/image/position/middle.png');
}

.position-button.middle:hover {
    background-image: url('/image/position/middle-hover.png');
}

.position-button.middle:disabled {
    background-image: url('/image/position/middle-disabled.png');
}

/*bottom*/
.position-button.bottom {
    background-image: url('/image/position/bottom.png');
}

.position-button.bottom:hover {
    background-image: url('/image/position/bottom-hover.png');
}

.position-button.bottom:disabled {
    background-image: url('/image/position/bottom-disabled.png');
}

/*utility*/
.position-button.utility {
    background-image: url('/image/position/utility.png');
}

.position-button.utility:hover {
    background-image: url('/image/position/utility-hover.png');
}

.position-button.utility:disabled {
    background-image: url('/image/position/utility-disabled.png');
}